@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lỗi";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/whole_web_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/whole_web_responsive.css">

<div class="container product_section_container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-danger">Trang này đang được cập nhật!</h3>
            <p class="text-danger">Mong quý khách quay lại trong thời gian tới khi trang đã sẵn sàng!</p>
        </div>
    </div>
</div>



