@model IEnumerable<WebBanHangOnline.Models.EF.News>
@if (Model != null && Model.Any())
{
    <div class="blogs">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section-title">
                        <h2>Tin Nổi Bật</h2>
                    </div>
                </div>
            </div>
            <div class="row blogs-container">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 blog-item-col">
                        <div class="blog-item">
                            <div class="blog-background" style="background-image:url(@item.Image)"></div>
                            <div class="blog-content d-flex flex-column align-items-center justify-content-center text-center">
                                <h4 class="blog-title">@item.Title</h4>
                                <span class="blog-meta">@*by @item.CreatedBy |*@@item.CreatedDate.ToString("dd/MM/yyyy")</span>
                                <a class="blog-more" href="/@item.Alias-n@(item.Id)">Đọc thêm</a>
                            </div>
                        </div>
                    </div>
                }
                @*<div class="col-lg-4 blog-item-col">
                    <div class="blog-item">
                        <div class="blog-background" style="background-image:url(images/blog_2.jpg)"></div>
                        <div class="blog-content d-flex flex-column align-items-center justify-content-center text-center">
                            <h4 class="blog-title">Here are the trends I see coming this fall</h4>
                            <span class="blog-meta">by admin | dec 01, 2017</span>
                            <a class="blog-more" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 blog-item-col">
                    <div class="blog-item">
                        <div class="blog-background" style="background-image:url(images/blog_3.jpg)"></div>
                        <div class="blog-content d-flex flex-column align-items-center justify-content-center text-center">
                            <h4 class="blog-title">Here are the trends I see coming this fall</h4>
                            <span class="blog-meta">by admin | dec 01, 2017</span>
                            <a class="blog-more" href="#">Read more</a>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a class="blog-more" href="/tin-tuc">Tất Cả Tin Tức >>></a>
                </div>
            </div>
        </div>
    </div>
}
