@{
    ViewBag.Title = "Thanh toán";
}

<style>
    .error {
        color: red;
    }

    input[type=radio] {
        accent-color: #c5a25d;
    }
</style>

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/whole_web_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/whole_web_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/gio-hang"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a></li>
                </ul>
            </div>

            <!-- Main Content -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Thanh toán</h2>
                    <p>Vui lòng kiểm tra thông tin khách hàng, thông tin giỏ hàng trước khi thanh toán!</p>
                </div>
            </div>

            <hr />

            @if (ViewBag.CheckCart != null)
            {
            <div class="row">
                <div id="checkOutReturn"></div>
                <div class="col-md-8">
                    @Html.Action("UserCheckOut", "ShoppingCart")
                </div>
                <div class="col-md-4">
                    @Html.Action("ItemCheckOut", "ShoppingCart")
                </div>
            </div>
            }
            else
            {
            <div class="col-md-12 text-center">
                Hãy thêm sản phẩm bạn muốn mua vào giỏ hàng trước khi thanh toán!
            </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jsShopping.js"></script>
    <script>
        getUserInfo();
    </script>
}

