
@{
    ViewBag.Title = "Đặt hàng thành công";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/whole_web_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/whole_web_responsive.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/gio-hang"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a></li>
                </ul>
            </div>

            <!-- Main Content -->

            <div class="row">
                <div class="col-md-12" id="load_data">
                    <h3 class="text-center">Mua hàng thành công! Thông tin đơn hàng đã được gửi vào email của bạn!</h3>
                    <div class="row d-flex justify-content-center">
                        <a href="/danh-muc-san-pham/tat-ca" class="btn green-button text-white px-4">TIẾP TỤC MUA SẮM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



