@{
    ViewBag.Title = "Đặt lại mật khẩu thành công";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div>
                <p>
                    Mật khẩu của bạn đã được đặt lại. Hãy @Html.ActionLink("click vào đây để đăng nhập", "LoginRegister", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>

